node_modules/
venv/
.env
.env.*
*.log
*.sqlite
*.db
*.db-shm
*.db-wal
__pycache__/
*.pyc
dist/
build/
coverage/
.cache/
tmp/
*.zip
*.tar.gz
.DS_Store
.idea/
.vscode/

# Backups
backups/
*.tar.gz

# Binaries
ngrok
**/ngrok

# Large media
*.mp3
*.mp4
*.zip
*.7z
